<div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-3">
        <form action="/user/update", method="POST">
          <div class="mb-3">
            <label for="name" class="form-label">Email</label>
            <input type="name" class="form-control" name="email" id="name" value="{{data.email}}">
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="name" class="form-control" name="name" id="name" value="{{data.username}}">
          </div>
          <button type="submit" class="btn btn-primary">Update</button>
        </form>
      </div>
    </div>
  </div>